<div class="card p-5 m-5 card-dark">
    <ul>
        {{!-- <li class="item item-first">1</li> --}}
        <li class="item">1</li>
        <li class="item">2</li>
        <li class="item">3</li>
        <li class="item">4</li>
        <li class="item">5</li>
    </ul>
</div>

<div class="card p-5 m-5 card-dark">
    <ul>
        <li class="item">1</li>
        {{!-- <li class="item">2</li> --}}
    </ul>
</div>

<div class="card p-5 m-5 card-dark">
    <ul>
        <li class="item">1</li>
        {{!-- <li class="item">2</li> --}}
    </ul>
</div>

<div class="card p-5 m-5 card-dark">
    <ul>
        <li class="item">1</li>
        <p>Test</p>
        <article>Test article</article>
        <span>Test span</span>
    </ul>
</div>

<div class="card p-5 m-5 card-dark">
    <ul>
        <div class="item-first-type">The first div</div>
        <li class="item-first-type">1</li>
        <p class="item-first-type">Test</p>
        <article class="item-first-type">Test article</article>
        <span class="item-first-type">Test span</span>
        <div class="item-first-type">Second div</div>
        <p class="item-first-type">Second p</p>
    </ul>
</div>

<div class="card p-5 m-5 card-dark">
    <ul>
        <div class="item-last-type">The first div</div>
        <li class="item-last-type">1</li>
        <li class="item-last-type">2</li>
        <p class="item-last-type">Test</p>
        <article class="item-last-type">Test article 1</article>
        <article class="item-last-type">Test article 2</article>
        <span class="item-last-type">Test span</span>
        <div class="item-last-type">Second div</div>
        <p class="item-last-type">Second p</p>
    </ul>
</div>

<div class="card p-5 m-5 card-dark">
    <ul>
        <div class="item-only">The first div</div>
        <li class="item-only">1</li>
        <li class="item-only">2</li>
        <p class="item-only">Test</p>
        <strong class="item-only">Only strong</strong>
        <article class="item-only">Test article 1</article>
        <article class="item-only">Test article 2</article>
        <span class="item-only">Test span</span>
        <div class="item-only">Second div</div>
        <p class="item-only">Second p</p>
    </ul>
</div>

<div class="card p-5 m-5 card-dark">
    <p class="item-nchild">1</p>
    <p class="item-nchild">2</p>
    <p class="item-nchild">3</p>
    <p class="item-nchild">4</p>
    <p class="item-nchild">5</p>
    <p class="item-nchild">6</p>
    <p class="item-nchild">7</p>
    <p class="item-nchild">8</p>
    <p class="item-nchild">9</p>
    <p class="item-nchild">10</p>
</div>

<div class="card p-5 m-5 card-dark">
    <p class="item-nlastchild">1</p>
    <p class="item-nlastchild">2</p>
    <p class="item-nlastchild">3</p>
    <p class="item-nlastchild">4</p>
    <p class="item-nlastchild">5</p>
    <p class="item-nlastchild">6</p>
    <p class="item-nlastchild">7</p>
    <p class="item-nlastchild">8</p>
    <p class="item-nlastchild">9</p>
    <p class="item-nlastchild">10</p>
</div>

<div class="card p-5 m-5 card-dark">
    <ul>
        <div class="item-ntypechild">The first div</div>
        <div class="item-ntypechild">The first div</div>
        <div class="item-ntypechild">The first div</div>
        <li class="item-ntypechild">1</li>
        <li class="item-ntypechild">2</li>
        <li class="item-ntypechild">3</li>
        <li class="item-ntypechild">4</li>
        <li class="item-ntypechild">5</li>
        <p class="item-ntypechild">Test</p>
        <strong class="item-ntypechild">Only strong</strong>
        <article class="item-ntypechild">Test article 1</article>
        <article class="item-ntypechild">Test article 2</article>
        <span class="item-ntypechild">Test span</span>
        <div class="item-ntypechild">Second div</div>
        <p class="item-ntypechild">Second p</p>
        <p class="item-ntypechild">Second p</p>
    </ul>
</div>

<div class="card p-5 m-5 card-dark">
    <ul>
        <div class="item-nlasttypechild">The first div</div>
        <div class="item-nlasttypechild">The first div</div>
        <div class="item-nlasttypechild">The first div</div>
        <li class="item-nlasttypechild">1</li>
        <li class="item-nlasttypechild">2</li>
        <li class="item-nlasttypechild">3</li>
        <li class="item-nlasttypechild">4</li>
        <li class="item-nlasttypechild">5</li>
        <p class="item-nlasttypechild">Test</p>
        <strong class="item-nlasttypechild">Only strong</strong>
        <article class="item-nlasttypechild">Test article 1</article>
        <article class="item-nlasttypechild">Test article 2</article>
        <span class="item-nlasttypechild">Test span</span>
        <div class="item-nlasttypechild">Second div</div>
        <p class="item-nlasttypechild">Second p</p>
        <p class="item-nlasttypechild">Second p</p>
    </ul>
</div>

<div class="card p-5 m-5 card-dark">
    <p>1</p>
    <p class="big">2</p>
</div>

<div class="card p-5 m-5 card-dark">
    <ul>
        <div class="item-nlasttypechild">The first div</div>
        <div class="item-nlasttypechild">The first div</div>
        <div class="item-nlasttypechild">The first div</div>
        <li class="item-nlasttypechild">1</li>
        <li class="item-nlasttypechild">2</li>
        <li class="item-nlasttypechild">3</li>
        <li class="item-nlasttypechild">4</li>
        <li class="item-nlasttypechild">5</li>
        <p>Test</p>
        <strong class="item-nlasttypechild">Only strong</strong>
        <article class="item-nlasttypechild">Test article 1</article>
        <article class="item-nlasttypechild">Test article 2</article>
        <span class="item-nlasttypechild">Test span</span>
        <div class="item-nlasttypechild">Second div</div>
        <p class="item-nlasttypechild">Second p</p>
        <p class="item-nlasttypechild">Second p</p>
    </ul>
</div>

<div class="card p-5 m-5 card-dark">
    <p></p>
    <div>Test div</div>
    <p>Test p</p>
    <p></p>
</div>