<main class="p-5">

    <div class="card p-5">
        <p id="test">
            Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world!
            Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world!
        </p>
        <p id="test">
            Hello world!
        </p>
        <p hidden id="test">
            Hello world!
        </p>
        <span class="span-b">Test</span>
        <span class="test">Test</span>
        <pre>
				Test TAB Size			
        </pre>
    </div>
    <pre>
				Test TAB Size			
    </pre>

    <div>Block</div>
    <div>Block</div>
    <div>Block</div>
    <div>Block</div>

    {{!-- <div style="margin: 10px 50px 100px 200px"> --}}
        {{!-- <div style="margin: 50px 0 50px 100px; background:gray"> --}}
            <div style="padding: 50px 0 50px 100px; background:gray">
                <span class="inline-block">Category cat</span>
                <span>Category dog</span>
                <span>Category fish</span>
                <span>Category bird</span>
                <span class="block">Category top list</span>
            </div>

            <div>Block</div>

            {{!-- <div class="modern">
                <h2>Modern CSS properties for texts and fontes</h2>
                <p>Modern CSS properties for texts and fontes</p>
                <span>Modern CSS properties for texts and fontes</span>
                <pre>Modern CSS properties for texts and fontes</pre>
                <button class="modern">Modern CSS properties for texts and fontes</button>
            </div> --}}

</main>