{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}
{{!-- <style>
    h1 {
        color: black;
    }
</style> --}}

<div class="p-5 box">
    {{!-- <h1 style="color:yellow">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1> --}}
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <h2 class="button"> Test css possibilities</h2>
    <h2 id="user">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h2>
    <h2 class="button">Test CSS possibilities</h2>
    <button type="button" class="btn btn-primary">Купити</button>
    <button type="button" class="box">Купити</button>
    <button class="button">Button</button>
    <button type="button" id="button" class="button">Test Button</button>
    <p> This is text</p>
</div>

<div>
    <h1>Name</h1>
    <p>Some test text</p>
</div>

<div>
    <h1>Name</h1>
    <em style="color:white">Some new text</em>
    <p>Some test text</p>
</div>

<div>
    <h1>Name</h1>
    <em style="color:white" class="test">Some new text</em>
    <p>Some test text</p>
</div>

<section class="p-5 box">
    <strong>Test</strong>
    <h1>Test name</h1>
    <strong>Test</strong>
    <em>Test</em>
    <div>
        <p class="">Link</p>
    </div>
</section>


<footer class="p-5 box">
    <h2>Test name</h2>
    <p class="user">test text
        <em>once more test text</em>
    </p>
</footer>
{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}