/* Color HEX */
/* p {
    color: #05043E;
} */

/* Color RGB */
/* p {
    color: rgb(41, 128, 6);
}

p {
    background: rgb(25, 11, 178);
} */

/* Color RGBA */
/* p {
    color: rgba(223, 223, 10, 0.5);
} */

/* Color RGBA https://hslpicker.com/#2ac322*/
/* .card > p {
    color:hsla(117, 70%, 45%, 1)
} */

/* Text-fill-color, text-stroke, -webkit- */

.card > p {
    color:green;
    -webkit-text-fill-color: red;
    -webkit-text-stroke: 1px blue;
}

p:focus,
p:active,
p:hover {
    -webkit-text-fill-color: rgb(220, 220, 16);
    -webkit-text-stroke: 1px rgb(26, 225, 66);

    direction:rtl;
}

.card {
    color: red;
}
#test {
    color:initial;
    -webkit-text-fill-color:initial;
    -webkit-text-stroke:initial;
}

#test {
    color:inherit;
    -webkit-text-fill-color:inherit;
    -webkit-text-stroke:inherit;
}

#test {
    color:unset;
    -webkit-text-fill-color:unset;
    -webkit-text-stroke:unset;
}

/* .card {
    border: 10px dotted;
}

.card {
    border:none;
} */

#test {
    color:unset;
    -webkit-text-fill-color:unset;
    -webkit-text-stroke:unset;

    /* writing-mode: vertical-rl; */
    writing-mode: vertical-lr;
}

/* #test {
    color:unset;
    -webkit-text-fill-color:unset;
    -webkit-text-stroke:unset;
    writing-mode:horizontal-tb;
    text-align: center;
} */

#test {
    color:unset;
    -webkit-text-fill-color:unset;
    -webkit-text-stroke:unset;
    writing-mode:horizontal-tb;
    text-align: justify;
}

span {
    text-align: left;
    text-transform: uppercase;
}

/* Tab size */
/* tab size css mozilla https://developer.mozilla.org/en-US/docs/Web/CSS/tab-size  */
pre {
    /* tab-size: 15px; */
    tab-size: 3;
}

#test {
    color:unset;
    -webkit-text-fill-color:unset;
    -webkit-text-stroke:unset;
    writing-mode:horizontal-tb;
    text-align: justify;
     /* letter-spacing: normal; */
     /* letter-spacing: 50px; */
     letter-spacing: 0.06em;
}

span {
    text-align: left;
    text-transform: uppercase;
    text-decoration: underline solid red;
}

/* .span-b {
    text-decoration-color: blue;
    text-decoration-line: line-through;
    text-decoration-style: solid;
} */

span:hover {
    text-decoration-line: line-through;
    /* text-decoration-style: double; */
    text-decoration-style: wavy;
}

* {
    font-family: 'Roboto', Arial, sans-serif;
    /* font-family: cursive; */
    /* font-family: fantasy; */
    /* font-family: monospace; */
    font-size: 18px;
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

span {
    /* font-size:xx-large; */
    font-size: larger;

    font-weight: lighter;
    /* font-weight: bolder; */
    /* font-weight: lighter; */
    font-style: oblique;
}
.test {
    font-weight: lighter;
}

/* .modern {
    border:0.1mm solid grey;
    margin-inline:10% 30%;
}

.modern p {
    color:lab(50 -20 -10);
}

.modern span {
    color:lch(70 50 120);
} */
/* .modern pre {
    color:color-mix(in yellow, 30%, 50%);
    color:color-mix(#ff0000, #0000ff)
} */

/* .modern button {
    background-color: green;
    accent-color:blue;
} */

/* .modern h2 {
    text-emphasis: dot #112233;
    text-emphasis: 'x' blue;
    text-emphasis: filled red;
} */

.test {
    display:none;
}

.block {
    display:block;
    background: rgb(208, 208, 208);
    /* margin: 10px; */
    /* margin: 50%; */
    margin: auto;
    /* margin-left: 50px; */
    /* width: 250px; */
    /* width: 10%; */
    /* height: min-content;
    min-height:max-content; */
    width: 100%;
    max-width: 600px;
}

.inline-block {
    display: inline-block;
}