.card-dark {
    background:rgb(235, 237, 198) ;
}

.item {
    color:green;
}

/* .item-first {
    color:red;
} */

/* li:first-child {
    color:blue;
} */

.item:first-child {
    color:blue;
}

.item:last-child {
    color:rgb(29, 132, 206);
}

.item:only-child {
    color:red;
}

/* .item:first-of-type {
    color:orange;
} */

article:first-of-type {
    color:orange;
}

.item-first-type:first-of-type {
    color:rgb(54, 115, 228)
}

.item-last-type:last-of-type {
    color:rgb(54, 115, 228)
}

.item-only:only-of-type {
    color:rgb(54, 115, 228)
}

.item-nchild:nth-child(3n+1) {
    color:red;
}

.item-nlastchild:nth-last-child(3n+1) {
    color:red;
}

.item-ntypechild:nth-of-type(2n) {
    color:red;
}

.item-nlasttypechild:nth-last-of-type(2n) {
    color:red;
}

p:not(.item-nlasttypechild) {
    color:rgb(56, 154, 4);
}

.item-nlasttypechild:not(p) {
    color:blue
}

p:empty{
    height:10px;
    background:red;
}