:root {
    --text-color:green;
    --space-medium: 24px;
}

.page {
    background: #ffffff;
    padding: 0 15px;
}

.page_content {
    max-width:960px;
    margin:0 auto;
    /* background: gray; */
}

.header {
    padding: var(--space-medium);
    border-bottom: 1px solid #dee2e6;
}

.logo {
    font-size: 17px;
}

.divider {
    margin: 0;
    height: 1px;
    background: #dee2e6;
}

.nav {
    display:block; 
}

.nav_link {
    color:#343A40;
    font-size: 16px;
    text-decoration: none;
}

.nav_link:hover {
    text-decoration: underline;
    /* color:blue; */

    opacity: 50%;
}

.nav_vertical > .nav_link {
    display:block;
}

.nav_inline > .nav_link:not(:last-child) {
    margin-right: var(--space-medium);
}

.nav_vertical > .nav_link:not(:last-child) {
    margin-bottom: 12px;
}

.header_nav_right {
    margin-left: auto;
    width:fit-content;
}

.page_block:not(:last-of-type) {
margin-bottom: 80px;
}

.footer {
    padding: var(--space-medium) 0;
    border-top: 1px solid #dee2e6;
}

.footer_copyright {
    font-size: 14px;
    color: #6C757D;
    display: block;
    margin-top: 12px;
}

.footer_title {
    font-size: 20px;
    color: var(--text-color, #212529);
    display: block;
    margin: 12px;
}

.hero_title {
    font-size: 56px;
    color: var(--text-color, #212529);
    font-weight: 500;
    margin-bottom: 12px;
    text-align: center;

    /* line-height: 10px;
    line-height: 150%; */
    max-width: 660px;
    margin: 0 auto;
    margin-bottom: 12px;
    height: 65px;
    overflow: hidden;
    text-overflow: ellipsis;

    /* white-space: pre; */
    white-space: no-wrap;
}

.hero_text {
    background:gray;
    /* text-align: left; */
    font-size: 20px;
    color: var(--text-color, #212529);
    font-weight: 400;
    text-align: center;
    /* max-width: 585px; */
    /* max-width: 200px; */
    max-width: 600px;
    /* width: min-content; */
    /* width: 100px; */
    /* width: 200px; */
    width: 600px;
    height: 400px;
    margin:0 auto;
    /* line-height: 150%; */
    /* line-height: 2; */
    /* line-height: normal; */
    /* line-height: inherit; */
    /* white-space: normal; */
    /* white-space: nowrap; */
    /* white-space: pre; */
    /* white-space: pre-wrap; */
    /* white-space: break-spaces; */
    /* white-space: pre-line; */
    /* word-break: break-all; */
    /* word-break: keep-all; */
    /* word-break: break-word; */
    hyphens: manual;

    overflow:auto;
    /* resize: both; */

    word-spacing: 10px;
    /* columns: 3; */
    /* column-gap: 0; */
    /* column-gap: 30px; */
    /* column-gap: 30%; */
    /* column-gap: 1em; */
    /* column-rule: dotted; */
    /* column-rule: dashed; */
    /* column-rule: solid blue; */
    /* column-rule: 10px solid green; */
    /* column-rule: thick inset red; */
    /* column-rule-width: thin; */

    /* column-rule-style: ridge;
    column-rule-color: #88f; */

    /* column-rule-style: dotted;

    column-span: all; */
}

.overflow {
    overflow-wrap: anywhere;
    overflow-wrap: break-word;
}

p {
    /* background:gray; */
    /* width: 200px;
    height: 100px; */

    /* overflow: hidden; */
    /* overflow: scroll; */
    /* overflow: overlay; */
    /* overflow-x: hidden;
    overflow-y: scroll; */
    /* text-overflow: ellipsis; */
}

.plans_card:not(:last-of-type) {
    margin-right: var(--space-medium);
}

/* .plans_card:nth-child(2) > .card {
    display:none;
} */

/* .plans_card:nth-child(2) {
    display:none;
} */

.plans_card:nth-child(2) {
    visibility:hidden;
}

.card_header {
    padding: 12px;
    text-align: center;
    font-size: var(--space-medium);
    color: var(--text-color, #212529);
}

.card_body {
    padding: var(--space-medium);
}

.card_price_amount {
    font-size: 40px;
    color: var(--text-color, #212529);
}

.card_price_duration {
    font-size: 20px;
    color: #6C757D;
    /* vertical-align: baseline; */
    /* vertical-align: sub; */
    /* vertical-align: super; */
    /* vertical-align: top; */
    /* vertical-align: text-top; */
    /* vertical-align: -20%; */
    vertical-align: 15px;
}

.card_block {
    text-align: center;
}

.card_block:not(:last-of-type) {
    margin-bottom: var(--space-medium);
}

.card_description_item {
    font-size: 16px;
    color: var(--text-color, #212529);
    display: block;
}

.card_description_item:not(:last-of-type) {
    margin-bottom: 12px;
}

.card_button {
    display:block;
    width: 100%;
    font-size: 19px;
    padding: 9px;
}

.card {
    border: 2px solid blue;
    /* border-top: 1px solid red;
    border-right: 1px solid red;
    border-left: 1px solid red;
    border-bottom: 10px solid red; */
    /* border-bottom: medium solid red; */
    /* border-bottom-color: blue;
    border-bottom-width: 50px;
    outline: 1px solid green; */
    /* border-radius: 0; */
    border-radius: 15px;
    /* border-radius: 15px 50px 0 30px; */
    /* border-radius: 50%; - this is ellipse */
    /* border-bottom-right-radius: 30px; */
    /* border-bottom-right-radius: 50%; */
}

.card:hover {
    outline: 1px solid blue;
    outline-offset: 5px;
    box-shadow: 7px 7px 10px 1px rgba(72, 215, 225, 0.254);
    cursor:pointer;

    opacity: 0.5;
    /* opacity: 50%; */
}

.btn {
    /* border-radius: 50%; */
    /* border-radius: 30px; */
    /* border-radius: 15px; */
    border-radius: 25px;
}

.btn:hover {
    box-shadow: 5px 5px 10px 1px rgba(60, 23, 135, 0.254);
}

h1 {
    text-shadow: 2px 3px 2px blue;
    /* text-shadow: 2px 20px 2px rgba(67, 231, 119, 0.221); */
    /* text-shadow: -20px -20px 2px blue; */
}

/* Check if the color of .page is transparent set body background color red */
body {
    /* background: red; */
    /* background-image: radial-gradient(50.00% 50.00% at 58.66% 50%, rgba(40, 158, 244, 0.40) 0%, rgba(239, 243, 246, 0.23) 100%);; */
    /* background-image: url('/img/test.png'); */
    /* background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-repeat: no-repeat; */
    /* background-repeat: space; */
    /* background-repeat: round; */
}
.page {
    /* background-color: transparent; */
    /* The alternative way to set transparent background is below*/
    /* background-color: rgba(72, 215, 225, 0); 
    background-image: url('/img/test2.jpg');
    background-repeat: no-repeat; */
    /* background-position-x: 10%; */
    /* background-position-y: 40%; */
    /* background-position: top; */
    /* background-position: bottom left; */
    /* background-position: center left;
    background-position: top center; */
    /* background-position: 50% 50%; */
    /* background-position: center;
    background-attachment: fixed; */
    /* background-size: contain; */
    /* background-size: cover; */
}

.hero_text {
    /* background-image: url('/img/test.png'); */

    /* Це паралакс-ефект - сторінка прокручується на фоні нерухомої картинки виствітлюючі її відповідні частини. */
    /* background-image: url('/img/test2.jpg'); */
    /* background-attachment: fixed; */

    /* background-attachment: local;
    height: 30px;
    overflow: auto; */

    /* background-color: transparent; */

    /* background-image: url('/img/test2.jpg');
    border: 20px solid transparent; */
    padding: 40px;
    color: yellow;
    /* background-clip: padding-box; */
    /* background-clip: content-box; */
    /* background-clip: text;
    -webkit-background-clip: text; */
    /* background-origin: border-box; */
    /* background-origin: padding-box; */
    /* background-origin: content-box;
    background-repeat: no-repeat; */

    border-image-source: url('/img/test2.jpg');
    /* border-image-width: 100px; */
    /* border-image-width: auto; */
    /* border-image-width: 10%; */
    /* border-image-width: 10% 20% 5% 7%; */
    border-image-width: 10% 10%;
    /* border-image-slice: 600; */
    border-image-slice: 10% 10%;

    /* border-image-repeat: stretch; */
    /* border-image-repeat: repeat; */
    /* border-image-repeat: round; */
    /* border-image-repeat: space; */
    border-image-outset: 40px;
}

.card-block {
    /* list-style-type: disc;
    list-style-type: circle;
    list-style-type: square;
    list-style-type: decimal;
    list-style-type: decimal-leading-zero;
    list-style-type: upper-roman;
    list-style-type: upper-latin;
    list-style-type: upper-alpha;
    list-style-type: lower-greek; */
    /* list-style-type: lower-roman; */

    list-style-position: inside;

    /* list-style-image: url('/img/test.png'); */
    list-style-image: linear-gradient(to bottom right, blue, red);

    padding: 0;
}

.card_description_item {
    display: list-item;
}

/* .table tr {
    border: 1px solid grey;
} */

.table tr td {
    border: 1px solid #17c423;
    /* border-bottom: 1px solid red; */
    border-bottom-color: red;
    border-right-color: blue;
}

.table {
    /* table-layout: auto; */
    table-layout: fixed;
    width: 600px;

    /* border-collapse: separate; */
    /* border-collapse: collapse; */
    border-collapse: unset;
    /* border-spacing: 10px; */
    border-spacing: 10px 20px;

    caption-side: top;

    /* empty-cells: show; */
    empty-cells: hide;
}

/* .nav_link::before {
    content: open-quote;
}

.nav_link::after {
    content: close-quote;
} */

.nav_link::before, .nav_link::after {
        /* content: url('/img/test2.jpg'); */
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        /* background-color: red; */
        background-image: url('/img/test2.jpg');
}

.nav_link::before {
    margin-right: 15px;
}

.nav_link::after {
    margin-left: 15px;
}

.calc {
    width: 600 px;
    /* margin-right: calc(100% - 600px) */
    
    /* Розмістити таблицю посередині */
    margin-left: calc(50% - (600px / 2))
}